@charset "UTF-8";
@font-face {
  font-family: dockerone;
  font-display: swap;
  src: url("../fonts/dockerone.woff2") format("woff2"), url("../fonts/dockerone.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: dockertwo;
  font-display: swap;
  src: url("../fonts/dockertwo.woff2") format("woff2"), url("../fonts/dockertwo.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #002e43;
  line-height: 1;
  font-family: Montserrat;
  font-size: 1.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Montserrat;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ebebf7;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 140.625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  font-family: dockerone;
  line-height: 1.21;
}
@media (min-width: 142.5em) {
  .title {
    font-size: 6rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .title {
    font-size: clamp( 1.875rem , 1.2015306122rem  +  3.3673469388vw , 6rem );
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }
}

.page__button-scroll {
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
}

.button-scroll {
  cursor: pointer;
  background-color: #738b9b;
  font-family: dockertwo;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.3s ease 0s;
}
@media (min-width: 142.5em) {
  .button-scroll {
    width: 27.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .button-scroll {
    width: clamp( 5rem , 1.3163265306rem  +  18.4183673469vw , 27.5625rem );
  }
}
@media (max-width: 20em) {
  .button-scroll {
    width: 5rem;
  }
}
@media (min-width: 142.5em) {
  .button-scroll {
    height: 9rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .button-scroll {
    height: clamp( 2.8125rem , 1.8022959184rem  +  5.0510204082vw , 9rem );
  }
}
@media (max-width: 20em) {
  .button-scroll {
    height: 2.8125rem;
  }
}
@media (min-width: 142.5em) {
  .button-scroll {
    font-size: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .button-scroll {
    font-size: clamp( 1.875rem , 1.4464285714rem  +  2.1428571429vw , 4.5rem );
  }
}
@media (max-width: 20em) {
  .button-scroll {
    font-size: 1.875rem;
  }
}
@media (min-width: 142.5em) {
  .button-scroll {
    border-radius: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .button-scroll {
    border-radius: clamp( 0.3125rem , 0.2614795918rem  +  0.2551020408vw , 0.625rem );
  }
}
@media (max-width: 20em) {
  .button-scroll {
    border-radius: 0.3125rem;
  }
}
.button-scroll_hide {
  transform: translateY(105%);
}
@media (any-hover: hover) {
  .button-scroll:hover {
    opacity: 0.6;
  }
}

.header {
  position: absolute;
  z-index: 30;
  left: 0;
  width: 100%;
}
@media (min-width: 142.5em) {
  .header {
    top: 5.125rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .header {
    top: clamp( 0.625rem , -0.1096938776rem  +  3.6734693878vw , 5.125rem );
  }
}
@media (max-width: 20em) {
  .header {
    top: 0.625rem;
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
  padding-left: 38px;
}
@media (max-width: 47.99875em) {
  .header__body {
    padding-left: 0;
    align-items: center;
  }
}
@media (min-width: 142.5em) {
  .header__logo img {
    width: 42.125rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .header__logo img {
    width: clamp( 9.375rem , 4.0280612245rem  +  26.7346938776vw , 42.125rem );
  }
}
@media (max-width: 20em) {
  .header__logo img {
    width: 9.375rem;
  }
}
@media (min-width: 142.5em) {
  .header__logo img {
    height: 16.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .header__logo img {
    height: clamp( 3.7125rem , 1.5941326531rem  +  10.5918367347vw , 16.6875rem );
  }
}
@media (max-width: 20em) {
  .header__logo img {
    height: 3.7125rem;
  }
}
.menu__list {
  padding-top: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (min-width: 142.5em) {
  .menu__list {
    column-gap: 2.125rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .menu__list {
    column-gap: clamp( 0.9375rem , 0.743622449rem  +  0.9693877551vw , 2.125rem );
  }
}
@media (max-width: 20em) {
  .menu__list {
    column-gap: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    padding: 4.375rem 0.625rem 0.625rem;
    background-color: #fda000;
    border-bottom-left-radius: 0.625rem;
    transform: translate(100%, -100%);
    transition: transform 0.3s ease 0s;
  }
  .menu-open .menu__list {
    transform: translate(0, 0);
  }
}
.menu__link {
  padding: 0.625rem 0;
  display: inline-block;
  text-transform: uppercase;
  color: #002e43;
  transition: opacity 0.3s ease 0s;
}
@media (min-width: 142.5em) {
  .menu__link {
    font-size: 3.25rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .menu__link {
    font-size: clamp( 1.125rem , 0.7780612245rem  +  1.7346938776vw , 3.25rem );
  }
}
@media (max-width: 20em) {
  .menu__link {
    font-size: 1.125rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    opacity: 0.6;
  }
}
@media (max-width: 47.99875em) {
  .menu__link:active {
    color: #ebebf7;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: fixed;
    z-index: 40;
    top: 2.1875rem;
    right: 0.9375rem;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #002e43;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  padding-top: 1.875rem;
}
@media (min-width: 142.5em) {
  .footer {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .footer {
    padding-bottom: clamp( 1.875rem , 1.568877551rem  +  1.5306122449vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-bottom: 1.875rem;
  }
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.9375rem;
  padding: 0 9.0625rem;
  justify-content: center;
  column-gap: 0.625rem;
}
@media (min-width: 142.5em) {
  .footer__container {
    column-gap: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .footer__container {
    column-gap: clamp( 2.5rem , 1.887755102rem  +  3.0612244898vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .footer__container {
    column-gap: 2.5rem;
  }
}
@media (max-width: 61.99875em) {
  .footer__container {
    padding: 0 0.9375rem;
  }
}
.footer__container a {
  text-align: center;
  text-transform: uppercase;
  transition: opacity 0.3s ease 0s;
}
@media (min-width: 142.5em) {
  .footer__container a {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .footer__container a {
    font-size: clamp( 1.125rem , 0.9821428571rem  +  0.7142857143vw , 2rem );
  }
}
@media (max-width: 20em) {
  .footer__container a {
    font-size: 1.125rem;
  }
}
@media (any-hover: hover) {
  .footer__container a:hover {
    opacity: 0.6;
  }
}
.main-screen {
  padding-bottom: 2.8125rem;
}
@media (min-width: 142.5em) {
  .main-screen {
    padding-top: 11.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .main-screen {
    padding-top: clamp( 5.3125rem , 4.3737244898rem  +  4.693877551vw , 11.0625rem );
  }
}
@media (max-width: 20em) {
  .main-screen {
    padding-top: 5.3125rem;
  }
}
.main-screen__inner {
  position: relative;
}
@media (min-width: 140.625em) {
  .main-screen__inner {
    min-height: 92.0625rem;
  }
}
@media (min-width: 62em) and (max-width: 140.625em) {
  .main-screen__inner {
    min-height: clamp( 25rem , -27.8823529412rem  +  85.2941176471vw , 92.0625rem );
  }
}
@media (max-width: 62em) {
  .main-screen__inner {
    min-height: 25rem;
  }
}
@media (max-width: 61.99875em) {
  .main-screen__inner {
    min-height: auto;
  }
}
.main-screen__inner::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  display: block;
  width: 83.2434514638%;
  width: 135.0625rem;
  height: 100%;
  transform: translateX(-40%);
  background: right/contain no-repeat url("../img/topFill.png");
}
@media (min-width: 142.5em) {
  .main-screen__inner::before {
    width: 135.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .main-screen__inner::before {
    width: clamp( 31.25rem , 14.3010204082rem  +  84.7448979592vw , 135.0625rem );
  }
}
@media (max-width: 20em) {
  .main-screen__inner::before {
    width: 31.25rem;
  }
}
@media (max-width: 47.99875em) {
  .main-screen__inner::before {
    background: right bottom/contain no-repeat url("../img/topFill.png");
  }
}
@media (max-width: 61.99875em) {
  .main-screen__inner::before {
    bottom: -8%;
  }
}
.main-screen__container {
  display: flex;
  position: relative;
}
@media (min-width: 142.5em) {
  .main-screen__container {
    padding-top: 33.125rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .main-screen__container {
    padding-top: clamp( 5.625rem , 1.1352040816rem  +  22.4489795918vw , 33.125rem );
  }
}
@media (max-width: 20em) {
  .main-screen__container {
    padding-top: 5.625rem;
  }
}
.main-screen__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-46%);
  width: 50%;
  max-width: 80.1875rem;
}
@media (max-width: 61.99875em) {
  .main-screen__image {
    position: relative;
    top: 0;
    transform: translateY(-5%);
  }
}
.main-screen__image img {
  width: 100%;
  height: 100%;
}
.main-screen__body {
  flex: 0 1 50%;
  padding-left: 2.5rem;
  padding-right: 0.9375rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 61.99875em) {
  .main-screen__body {
    padding: 0;
    flex-basis: 100%;
  }
}
.main-screen__title {
  margin-bottom: 1.25rem;
}
.main-screen__text {
  line-height: 1.31;
}
@media (min-width: 142.5em) {
  .main-screen__text {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .main-screen__text {
    font-size: clamp( 1.25rem , 0.943877551rem  +  1.5306122449vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .main-screen__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 142.5em) {
  .main-screen__text {
    padding-bottom: 25.625rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .main-screen__text {
    padding-bottom: clamp( 0.625rem , -3.4566326531rem  +  20.4081632653vw , 25.625rem );
  }
}
@media (max-width: 20em) {
  .main-screen__text {
    padding-bottom: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .main-screen__text {
    padding-bottom: 1.25rem;
  }
}

@media (min-width: 142.5em) {
  .question {
    padding-top: 12.375rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .question {
    padding-top: clamp( 3.125rem , 1.6147959184rem  +  7.5510204082vw , 12.375rem );
  }
}
@media (max-width: 20em) {
  .question {
    padding-top: 3.125rem;
  }
}
@media (min-width: 142.5em) {
  .question {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .question {
    padding-bottom: clamp( 3.125rem , 2.6147959184rem  +  2.5510204082vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .question {
    padding-bottom: 3.125rem;
  }
}
.question__container {
  display: flex;
}
@media (max-width: 61.99875em) {
  .question__container {
    flex-direction: column-reverse;
  }
}
.question__block {
  flex: 1 1 auto;
  position: relative;
  min-height: 37.5rem;
}
@media (max-width: 61.99875em) {
  .question__block {
    min-height: auto;
  }
}
.question__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);
  height: 60.375rem;
  width: 34.7241867044%;
}
@media (min-width: 142.5em) {
  .question__image {
    width: 30.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .question__image {
    width: clamp( 10rem , 6.6224489796rem  +  16.887755102vw , 30.6875rem );
  }
}
@media (max-width: 20em) {
  .question__image {
    width: 10rem;
  }
}
@media (min-width: 142.5em) {
  .question__image {
    height: 60.375rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .question__image {
    height: clamp( 19.6875rem , 13.0446428571rem  +  33.2142857143vw , 60.375rem );
  }
}
@media (max-width: 20em) {
  .question__image {
    height: 19.6875rem;
  }
}
@media (max-width: 142.5em) {
  .question__image {
    transform: translate(-90%, -70%);
  }
}
@media (max-width: 61.99875em) {
  .question__image {
    position: relative;
    transform: translate(-70%, 0);
  }
}
.question__image::before, .question__image::after {
  content: "";
  display: block;
  width: 111.8126272912%;
  height: 36.231884058%;
  background-image: url("../img/rectangle.svg");
  background-size: cover;
  position: absolute;
  bottom: 4.6875rem;
  left: 10.9375rem;
  z-index: -1;
}
@media (max-width: 47.99875em) {
  .question__image::before, .question__image::after {
    bottom: 9%;
    left: 25%;
  }
}
.question__image::after {
  bottom: 34%;
  left: 12%;
  transform: rotate(-36deg);
}
@media (max-width: 47.99875em) {
  .question__image::after {
    bottom: 34%;
  }
}
.question__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
.question__body {
  flex: 0 0 37.0666666667%;
}
@media (max-width: 61.99875em) {
  .question__body {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 142.5em) {
  .question__title {
     margin-bottom: 3.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .question__title {
     margin-bottom: clamp( 1.25rem , 0.8724489796rem  +  1.887755102vw , 3.5625rem );
  }
}
@media (max-width: 20em) {
  .question__title {
     margin-bottom: 1.25rem;
  }
}
.question__text {
  line-height: 1.21;
}
@media (min-width: 142.5em) {
  .question__text {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .question__text {
    font-size: clamp( 1.5625rem , 1.2053571429rem  +  1.7857142857vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .question__text {
    font-size: 1.5625rem;
  }
}

.services {
  background-color: #002e43;
  border-radius: 0.625rem;
  position: relative;
  z-index: 20;
}
.services__container {
  max-width: 145rem;
}
.services__list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.9375rem;
  row-gap: 0.625rem;
}
@media (max-width: 61.99875em) {
  .services__list {
    column-gap: 0.3125rem;
    row-gap: 0;
  }
}
.services__item a {
  color: #c0fd00;
}
.services__item a:visited {
  color: #ebebf7;
}
.services__link {
  display: inline-block;
  color: #c0fd00;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.5s ease 0s;
}
@media (min-width: 142.5em) {
  .services__link {
    font-size: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .services__link {
    font-size: clamp( 1.125rem , 0.737244898rem  +  1.9387755102vw , 3.5rem );
  }
}
@media (max-width: 20em) {
  .services__link {
    font-size: 1.125rem;
  }
}
.services__link_black {
  font-weight: 900;
}
@media (any-hover: hover) {
  .services__link:hover {
    color: #ebebf7;
  }
}

@media (min-width: 142.5em) {
  .suggestions {
    padding-top: 12.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .suggestions {
    padding-top: clamp( 3.125rem , 1.5433673469rem  +  7.9081632653vw , 12.8125rem );
  }
}
@media (max-width: 20em) {
  .suggestions {
    padding-top: 3.125rem;
  }
}
@media (min-width: 142.5em) {
  .suggestions {
    padding-bottom: 14.375rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .suggestions {
    padding-bottom: clamp( 1.875rem , -0.1658163265rem  +  10.2040816327vw , 14.375rem );
  }
}
@media (max-width: 20em) {
  .suggestions {
    padding-bottom: 1.875rem;
  }
}
.suggestions__title {
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 142.5em) {
  .suggestions__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .suggestions__title {
    font-size: clamp( 1.875rem , 1.568877551rem  +  1.5306122449vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .suggestions__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 142.5em) {
  .suggestions__title {
    margin-bottom: 12.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .suggestions__title {
    margin-bottom: clamp( 1.5625rem , -0.2742346939rem  +  9.1836734694vw , 12.8125rem );
  }
}
@media (max-width: 20em) {
  .suggestions__title {
    margin-bottom: 1.5625rem;
  }
}
.suggestions__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  row-gap: 2.5rem;
}
.suggestions__body .item-suggestions_1 {
  transform: translateX(3.8125rem);
}
.suggestions__body .item-suggestions_3 {
  transform: translateX(-5.125rem);
}
@media (max-width: 61.99875em) {
  .suggestions__body .item-suggestions_1,
.suggestions__body .item-suggestions_3 {
    transform: none;
  }
}
.item-suggestions {
  display: flex;
  justify-content: center;
}
@media (min-width: 142.5em) {
  .item-suggestions_1 .item-suggestions__image img {
    width: 12.125rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .item-suggestions_1 .item-suggestions__image img {
    width: clamp( 5.03125rem , 3.8730867347rem  +  5.7908163265vw , 12.125rem );
  }
}
@media (max-width: 20em) {
  .item-suggestions_1 .item-suggestions__image img {
    width: 5.03125rem;
  }
}
@media (min-width: 142.5em) {
  .item-suggestions_2 .item-suggestions__image img {
    width: 23.625rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .item-suggestions_2 .item-suggestions__image img {
    width: clamp( 9.8125rem , 7.5573979592rem  +  11.2755102041vw , 23.625rem );
  }
}
@media (max-width: 20em) {
  .item-suggestions_2 .item-suggestions__image img {
    width: 9.8125rem;
  }
}
@media (min-width: 142.5em) {
  .item-suggestions_3 .item-suggestions__image img {
    width: 30.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .item-suggestions_3 .item-suggestions__image img {
    width: clamp( 12.59375rem , 9.7008928571rem  +  14.4642857143vw , 30.3125rem );
  }
}
@media (max-width: 20em) {
  .item-suggestions_3 .item-suggestions__image img {
    width: 12.59375rem;
  }
}
@media (any-hover: hover) {
  .item-suggestions__link:hover .item-suggestions__name {
    opacity: 0.6;
  }
}
@media (min-width: 142.5em) {
  .item-suggestions__image {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .item-suggestions__image {
    margin-bottom: clamp( 1.875rem , 1.1607142857rem  +  3.5714285714vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .item-suggestions__image {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 142.5em) {
  .item-suggestions__image img {
    height: 45.125rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .item-suggestions__image img {
    height: clamp( 18.75rem , 14.443877551rem  +  21.5306122449vw , 45.125rem );
  }
}
@media (max-width: 20em) {
  .item-suggestions__image img {
    height: 18.75rem;
  }
}
.item-suggestions__name {
  font-family: dockerone;
  transition: all 0.3s ease 0s;
  text-align: center;
}
@media (min-width: 142.5em) {
  .item-suggestions__name {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .item-suggestions__name {
    font-size: clamp( 1.875rem , 1.6913265306rem  +  0.9183673469vw , 3rem );
  }
}
@media (max-width: 20em) {
  .item-suggestions__name {
    font-size: 1.875rem;
  }
}

.contacts {
  position: relative;
}
@media (min-width: 142.5em) {
  .contacts {
    padding-top: 11.875rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .contacts {
    padding-top: clamp( 1.25rem , -0.4846938776rem  +  8.6734693878vw , 11.875rem );
  }
}
@media (max-width: 20em) {
  .contacts {
    padding-top: 1.25rem;
  }
}
@media (min-width: 142.5em) {
  .contacts {
    padding-bottom: 22.5rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .contacts {
    padding-bottom: clamp( 1.25rem , -2.2193877551rem  +  17.3469387755vw , 22.5rem );
  }
}
@media (max-width: 20em) {
  .contacts {
    padding-bottom: 1.25rem;
  }
}
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: center/contain no-repeat url("../img/bottomFill.png");
  display: block;
  width: 100%;
  height: 100%;
}
@media (max-width: 47.99875em) {
  .contacts::before {
    width: 200%;
  }
}
.form {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  transform: translateX(6%);
}
@media (max-width: 1400px) {
  .form {
    transform: none;
  }
}
@media (max-width: 47.99875em) {
  .form {
    display: block;
  }
}
.form__inner {
  max-width: 53.125rem;
  width: 100%;
}
.form__inner input,
.form__inner textarea {
  width: 100%;
  box-shadow: inset 0px 6px 30px 0 rgba(0, 0, 0, 0.7);
  border-radius: 5rem;
  border: solid 5px #000;
  background-color: #ebebf7;
  font-weight: 300;
  color: #002e43;
}
@media (min-width: 142.5em) {
  .form__inner input,
.form__inner textarea {
    border-radius: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .form__inner input,
.form__inner textarea {
    border-radius: clamp( 1.25rem , 0.637755102rem  +  3.0612244898vw , 5rem );
  }
}
@media (max-width: 20em) {
  .form__inner input,
.form__inner textarea {
    border-radius: 1.25rem;
  }
}
@media (min-width: 142.5em) {
  .form__inner input,
.form__inner textarea {
    height: 10rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .form__inner input,
.form__inner textarea {
    height: clamp( 2.5rem , 1.2755102041rem  +  6.1224489796vw , 10rem );
  }
}
@media (max-width: 20em) {
  .form__inner input,
.form__inner textarea {
    height: 2.5rem;
  }
}
@media (min-width: 142.5em) {
  .form__inner input,
.form__inner textarea {
    padding-left: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .form__inner input,
.form__inner textarea {
    padding-left: clamp( 1.25rem , 0.8418367347rem  +  2.0408163265vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .form__inner input,
.form__inner textarea {
    padding-left: 1.25rem;
  }
}
@media (min-width: 142.5em) {
  .form__inner input,
.form__inner textarea {
    padding-right: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .form__inner input,
.form__inner textarea {
    padding-right: clamp( 1.25rem , 0.8418367347rem  +  2.0408163265vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .form__inner input,
.form__inner textarea {
    padding-right: 1.25rem;
  }
}
@media (min-width: 142.5em) {
  .form__inner input,
.form__inner textarea {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .form__inner input,
.form__inner textarea {
    font-size: clamp( 1.25rem , 0.9642857143rem  +  1.4285714286vw , 3rem );
  }
}
@media (max-width: 20em) {
  .form__inner input,
.form__inner textarea {
    font-size: 1.25rem;
  }
}
.form__inner input::placeholder,
.form__inner textarea::placeholder {
  color: #002e43;
}
@media (min-width: 142.5em) {
  .form__inner input::placeholder,
.form__inner textarea::placeholder {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .form__inner input::placeholder,
.form__inner textarea::placeholder {
    font-size: clamp( 1.25rem , 0.9642857143rem  +  1.4285714286vw , 3rem );
  }
}
@media (max-width: 20em) {
  .form__inner input::placeholder,
.form__inner textarea::placeholder {
    font-size: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .form__inner input,
.form__inner textarea {
    box-shadow: inset 0px 6px 20px 0 rgba(0, 0, 0, 0.7);
  }
}
@media (max-width: 47.99875em) {
  .form__inner input,
.form__inner textarea {
    box-shadow: inset 0px 6px 15px 0 rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 29.99875em) {
  .form__inner input,
.form__inner textarea {
    box-shadow: inset 0px 6px 10px 0 rgba(0, 0, 0, 0.5);
    border: solid 2px #000;
  }
}
@media (min-width: 142.5em) {
  .form__inner input {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .form__inner input {
    margin-bottom: clamp( 1.5625rem , 1.0012755102rem  +  2.806122449vw , 5rem );
  }
}
@media (max-width: 20em) {
  .form__inner input {
    margin-bottom: 1.5625rem;
  }
}
.form__inner textarea {
  resize: none;
}
@media (min-width: 142.5em) {
  .form__inner textarea {
    padding-top: 4.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .form__inner textarea {
    padding-top: clamp( 1.25rem , 0.7908163265rem  +  2.2959183673vw , 4.0625rem );
  }
}
@media (max-width: 20em) {
  .form__inner textarea {
    padding-top: 1.25rem;
  }
}
@media (min-width: 142.5em) {
  .form__inner textarea {
    height: 20.25rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .form__inner textarea {
    height: clamp( 12.5rem , 11.2346938776rem  +  6.3265306122vw , 20.25rem );
  }
}
@media (max-width: 20em) {
  .form__inner textarea {
    height: 12.5rem;
  }
}
.form__submit {
  align-self: flex-end;
  margin-left: 5rem;
  flex: 0 0 auto;
  position: relative;
  z-index: 2;
  border-radius: 5rem;
  border: solid 5px #000;
  box-shadow: inset 0px 6px 30px 0 rgba(0, 0, 0, 0.7);
  overflow: hidden;
  background-color: #ebebf7;
}
@media (min-width: 142.5em) {
  .form__submit {
    width: 10.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .form__submit {
    width: clamp( 4.0625rem , 3.0420918367rem  +  5.1020408163vw , 10.3125rem );
  }
}
@media (max-width: 20em) {
  .form__submit {
    width: 4.0625rem;
  }
}
@media (min-width: 142.5em) {
  .form__submit {
    height: 10rem;
  }
}
@media (min-width: 20em) and (max-width: 142.5em) {
  .form__submit {
    height: clamp( 3.9375rem , 2.9477040816rem  +  4.9489795918vw , 10rem );
  }
}
@media (max-width: 20em) {
  .form__submit {
    height: 3.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .form__submit {
    margin: 0.9375rem auto 0;
    border: solid 2px #000;
    box-shadow: inset 0px 2px 15px 0 rgba(0, 0, 0, 0.45);
  }
}
.form__submit::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translateY(-50%);
  width: 78.7878787879%;
  height: 91.875%;
  background: center/contain no-repeat url("../img/send.png");
  transition: all 0.3s ease 0s;
}
.form__submit:active::after {
  transform: translateY(-50%) scale(0.8);
}
@media (any-hover: hover) {
  .form__submit:hover::after {
    transform: translateY(-50%) scale(0.8);
  }
}
.form__submit input {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  border-radius: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
