@font-face {
	font-family: dockerone;
	font-display: swap;
	src: url("../fonts/dockerone.woff2") format("woff2"), url("../fonts/dockerone.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: dockertwo;
	font-display: swap;
	src: url("../fonts/dockertwo.woff2") format("woff2"), url("../fonts/dockertwo.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
